// .starter-text-box
.wp-block-starter-block-text-box {
	&.text-box-align-right {
		text-align: right;
	}

	&.text-box-align-left {
		text-align: left;
	}

	&.text-box-align-center {
		text-align: center;
	}
}
